Repository FirstDayAtWork/testovoe-react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --quiet --fix

.lintstagedrc:

{
  "*.{json,js,ts,tsx,html}": ["prettier --write --ignore-unknown"],
  "*.{js,ts,jsx,tsx}": ["eslint --quiet --fix"]
}

feat: add store && products page logic
  next.config.ts
  src/api/getData.ts
  src/app/products/page.tsx
  src/components/cards/card.tsx
  src/components/cards/cards.tsx
  src/hooks/.gitkeep
  src/stores/useProductStore.ts
  src/types/types.ts
  src/utils/urls.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add dynamic product page && some styles && prepare project for deplpoy
  next.config.ts
  package-lock.json
  package.json
  src/app/globals.css
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/cards/card.tsx
  src/components/cards/cards.tsx
  src/components/details/detail.tsx
  src/components/details/details.tsx
  src/types/types.ts
  src/utils/categories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add like item logic && store
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/cards/card.tsx
  src/components/cards/cards.tsx
  src/components/cards/like-button.tsx
  src/components/cards/remove-button.tsx
  src/stores/like-store.ts
  src/stores/product-store.ts
  src/utils/is-liked.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add cards filter && rewrite stores to single with slices
  src/app/globals.css
  src/app/products/page.tsx
  src/components/cards/cards.tsx
  src/components/cards/like-button.tsx
  src/components/settings/filter-cards.tsx
  src/components/settings/settings.tsx
  src/stores/product-store.ts
  src/stores/slices/filter-slice.ts
  src/stores/slices/like-slice.ts
  src/stores/slices/product-slice.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add loader, error && move data fetching logic to product store
  src/api/getData.ts
  src/app/products/error.tsx
  src/app/products/page.tsx
  src/stores/slices/product-slice.ts
  src/ui/error/error-ui.tsx
  src/ui/loader/loader.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add back button && apply some styles
  src/app/globals.css
  src/app/products/[id]/page.tsx
  src/components/cards/card.tsx
  src/components/details/back-button.tsx
  src/components/details/detail.tsx
  src/components/details/details.tsx
  src/components/settings/filter-cards.tsx
  src/components/settings/settings.tsx
  src/ui/error/error-ui.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add header && move backbutton to ui && add some styles
  src/app/create/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/cards/card.tsx
  src/components/details/back-button.tsx
  src/components/header/header.tsx
  src/components/header/navigation/navigation.tsx
  src/ui/redirect-button/redirect-button.tsx
  src/utils/set-button-width.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add create card logic
  package-lock.json
  package.json
  src/app/create/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/app/products/page.tsx
  src/components/card-form/card-form.tsx
  src/components/card-form/input.tsx
  src/components/details/details.tsx
  src/components/header/header.tsx
  src/stores/product-store.ts
  src/stores/slices/id-counter-slice.ts
  src/utils/categories.ts
  src/utils/file-to-base64.ts
  src/utils/grid-items.ts
  src/zod/schema.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: fix onpageload fetch logic && fix zod schema && fix image load
  src/app/products/page.tsx
  src/components/cards/card.tsx
  src/components/details/details.tsx
  src/zod/schema.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add search bar && useDebounce hook
  src/app/create/page.tsx
  src/app/products/page.tsx
  src/components/card-form/card-form.tsx
  src/components/card-form/input.tsx
  src/components/cards/cards.tsx
  src/components/details/details.tsx
  src/components/settings/filter-cards.tsx
  src/components/settings/search-cards.tsx
  src/components/settings/settings.tsx
  src/hooks/.gitkeep
  src/hooks/useDebounce.ts
  src/stores/product-store.ts
  src/stores/slices/filter-slice.ts
  src/ui/error/error-ui.tsx
  src/ui/redirect-button/redirect-button.tsx
  src/ui/reload-button/reload-button.tsx
  src/zod/schema.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add card edit logic && modal && fix smal mistakes
  src/api/getData.ts
  src/app/create/page.tsx
  src/app/globals.css
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/card-form/card-form.tsx
  src/components/card-form/input.tsx
  src/components/cards/card.tsx
  src/components/cards/controls/controls.tsx
  src/components/cards/controls/edit-button.tsx
  src/components/cards/controls/like-button.tsx
  src/components/cards/controls/remove-button.tsx
  src/components/header/header.tsx
  src/components/modal/modal.tsx
  src/stores/product-store.ts
  src/stores/slices/modal-ref-slice.ts
  src/stores/slices/product-slice.ts
  src/stores/slices/target-item-slice.ts
  src/ui/close-button/close-button.tsx
  src/utils/base64-to-file.ts
  src/utils/urls.ts
  src/zod/schema.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

refactor: prepare for deploy
  next.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: fix build errors
  package-lock.json
  package.json
  src/api/getData.ts
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/cards/cards.tsx
  src/components/details/details.tsx
  src/components/settings/settings.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

docs: update readme
  README.md
Due: none

fix deploy again
  package.json
Due: prettier --write --ignore-unknown

fix: fix prefix
  next.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

docs: ya uje ne chelovek, ya zver naxooy
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: fix homepage
  package.json
Due: prettier --write --ignore-unknown

fix: deploy path fix
  next.config.ts
  package.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: fix nojekill is not add
  package.json
Due: prettier --write --ignore-unknown

Create nextjs.yml
  .github/workflows/nextjs.yml
Due: none

fix: fix slug bug
  next.config.ts
  src/app/products/[id]/page.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix
